In [1]:
import pandas as pd
import numpy as nm
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_train= pd.read_excel('Data_Train.xlsx')

In [3]:
# df_test.info()
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [4]:
df_train['Airline'].dropna().unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [5]:
df_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [6]:
df_train['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [7]:
df_train.dropna(inplace = True)

In [8]:
df_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [9]:
df_train

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [10]:
df_train['Month_of_journey']=pd.to_datetime( df_train['Date_of_Journey'],format="%d/%m/%Y").dt.month
df_train['Day_of_journey']=pd.to_datetime( df_train['Date_of_Journey'],format="%d/%m/%Y").dt.day

In [11]:
df_train.drop(['Date_of_Journey'],axis=1,inplace=True)

In [12]:
df_train.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month_of_journey,Day_of_journey
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24

In [13]:
df_train['Hour_departure']= pd.to_datetime(df_train['Dep_Time']).dt.hour
df_train['Minute_departure']= pd.to_datetime(df_train['Dep_Time']).dt.minute

In [14]:
df_train.drop(['Dep_Time'],axis=1,inplace=True)

In [15]:
df_train['Hour_arrival']= pd.to_datetime(df_train['Arrival_Time']).dt.hour
df_train['Minute_arrival']= pd.to_datetime(df_train['Arrival_Time']).dt.minute

In [16]:
df_train.drop(['Arrival_Time'],axis=1,inplace=True)

In [17]:
df_train['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10682, dtype: object

In [18]:
hours_arrival= []
minutes_arrival = []
for i in list(df_train['Duration']):
    if 'h' in i:
        hours_arrival.append(int(i.split()[0][:-1]))
        if 'm' in i:
            minutes_arrival.append(int(i.split()[1][:-1]))
        else:
            minutes_arrival.append(0)
    else:
        hours_arrival.append(0)
        if 'm' in i:
            if i.split('m')[0][:-1] == '':
                minutes_arrival.append(0)
            else:
                minutes_arrival.append(int(i.split('m')[0][:-1]))
        else:
            minutes_arrival.append(0)

In [19]:
df_train['Minutes_duration']=minutes_arrival
df_train['Hours_duration'] = hours_arrival

In [20]:
df_train.drop(['Duration'],axis=1,inplace=True)

In [21]:
df_train["Airline"].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [ ]:
sns.barplot(y=df_train['Price'],x=df_train['Airline'])
sns.set(rc={'figure.figsize':(15,8)})

In [ ]:
sns.catplot(y = "Price", x = "Airline", data = df_train.sort_values("Price", ascending = False), kind="boxen", height = 6, aspect = 3)

In [ ]:
df_Airline=pd.get_dummies(df_train['Airline'], drop_first= True)

In [ ]:
df_train['Source'].value_counts()

In [ ]:
df_train['Destination'].value_counts()

In [ ]:
Source =df_train['Source']
Destination =df_train['Destination']
df_Source=pd.get_dummies(Source, drop_first= True)
df_Destination = pd.get_dummies(Destination, drop_first= True)
df_Source.columns= ['Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai']
df_Destination.columns =['Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata', 'Destination_New Delhi']

In [ ]:
df_Source

In [ ]:
df_train['Additional_Info']

In [ ]:
df_train['Additional_Info'].value_counts()
sns.scatterplot(x=df_train['Additional_Info'],y=df_train['Route'])

In [ ]:
len(df_train['Route'].unique())

In [ ]:
sns.countplot(x=df_train['Additional_Info'],hue=df_train['Total_Stops'])

In [ ]:
df_train['Additional_Info'].value_counts()

In [ ]:
df_train['Additional_Info'].replace('No Info ','No info')

In [ ]:
df_train.drop(["Route", "Additional_Info"], axis = 1, inplace = True)

In [ ]:
df_train["Total_Stops"].value_counts()

In [ ]:
df_train.replace({"non-stop": 0, "1 stop": 1, "2 stops": 2, "3 stops": 3, "4 stops": 4}, inplace = True)

In [ ]:
df_train = pd.concat([df_train, df_Airline, df_Source, df_Destination], axis = 1)

In [ ]:
df_train.head()

In [ ]:
df_train.drop(["Airline", "Source", "Destination"], axis = 1, inplace = True)

In [ ]:
df_train

In [ ]:

df_test= pd.read_excel('test_data.xlsx')

df_test

In [ ]:
df_train.columns

In [ ]:
X = df_train.loc[:, ['Total_Stops', 'Month_of_journey', 'Day_of_journey',
       'Hour_departure', 'Minute_departure', 'Hour_arrival', 'Minute_arrival',
       'Minutes_duration', 'Hours_duration', 'Air India', 'GoAir', 'IndiGo',
       'Jet Airways', 'Jet Airways Business', 'Multiple carriers',
       'Multiple carriers Premium economy', 'SpiceJet', 'Trujet', 'Vistara',
       'Vistara Premium economy', 'Source_Chennai', 'Source_Delhi',
       'Source_Kolkata', 'Source_Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi']]
X.head()

In [ ]:
y = df_train['Price']
y.head()

In [ ]:
plt.figure(figsize = (20,20))
sns.heatmap(df_train.corr(), annot = True)

plt.show()

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
feature_selection = ExtraTreesRegressor()
feature_selection.fit(X, y)

In [ ]:
feature_selection.feature_importances_

In [ ]:
#plot graph of feature importances for better visualization

plt.figure(figsize = (12,8))
feat_importances = pd.Series(feature_selection.feature_importances_, index=X.columns)
feat_importances.nlargest(20).plot(kind='barh')
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
reg_rf = RandomForestRegressor()
reg_rf.fit(X_train, y_train)

In [ ]:
y_pred = reg_rf.predict(X_test)

In [ ]:
reg_rf.score(X_test, y_test)

In [ ]:
from sklearn.metrics import confusion_matrix
# confusion_matrix(y_test,y_pred)
y_pred

In [ ]:
sns.distplot(y_test-y_pred)
plt.show()
y_test-y_pred

In [ ]:

plt.scatter(y_test, y_pred, alpha = 0.5)
plt.xlabel("y_test")
plt.ylabel("y_pred")
plt.show()

In [ ]:
from sklearn import metrics

In [ ]:
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', nm.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
metrics.r2_score(y_test, y_pred)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:

n_estimators = [int(x) for x in nm.linspace(start = 100, stop = 1200, num = 12)]

max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in nm.linspace(5, 30, num = 6)]
min_samples_split = [2, 5, 10, 15, 100]
min_samples_leaf = [1, 2, 5, 10]

In [ ]:
n_estimators

In [ ]:
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

In [ ]:
rf_random = RandomizedSearchCV(estimator = reg_rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)

In [ ]:
rf_random.fit(X_train,y_train)

In [ ]:
rf_random.best_params_

In [ ]:

prediction = rf_random.predict(X_test)

plt.figure(figsize = (8,8))
sns.distplot(y_test-prediction)
plt.show()

In [ ]:
plt.figure(figsize = (8,8))
plt.scatter(y_test, prediction, alpha = 0.5)
plt.xlabel("y_test")
plt.ylabel("y_pred")
plt.show()

In [ ]:

print('MAE:', metrics.mean_absolute_error(y_test, prediction))
print('MSE:', metrics.mean_squared_error(y_test, prediction))
print('RMSE:', nm.sqrt(metrics.mean_squared_error(y_test, prediction)))

In [ ]:

import pickle
file = open('flight_rf.pkl', 'wb')
pickle.dump(reg_rf, file)

In [ ]:

model = open('flight_rf.pkl','rb')
forest = pickle.load(model)

y_prediction = forest.predict(X_test)

metrics.r2_score(y_test, y_prediction)

In [ ]:
df_test.info()